body {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
    background-image: url(/images/security2.png);
    background-size: cover;
    list-style-type: none;
}


.container {
    display: flex;
}

.card-left{
    width: 300px;
    height: 350px;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: #808080;
}

.big-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-right {
    width: 900px;
    height: 550px;
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #808080;
}