body {
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  background-image: url(/images/security2.png);
  background-size: cover;
  list-style-type: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar {
  width: 55vh;
  min-height: 70px;
  font-family: "K2D";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  margin-top: 48px;
  color: #999999;
}

input {
  font-family: "K2D";
  width: 400px;
  height: 63px;
  font-size: large;
  border: 2px solid #ffffff;
}

input [type=text]:active {
  border: 3px solid #f7ff01;
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

.btn {
  font-family: "K2D", serif;
  font-weight: 400;
  width: 153px;
  min-height: 70px;
  font-size: 16px;
  background-color: #5474FD;
  color: #fff;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.btn:hover {
  background-color: #64aff9;
}

.card-left {
  width: 300px;
  height: 350px;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  background-color: #808080;
}

.big-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-right {
  width: 900px;
  height: 550px;
  margin: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #808080;
}